streamlit==1.28.0
langchain-core==0.1.47
langchain==0.1.11
langchain-community==0.0.25
chromadb==0.4.24
pypdf2==3.0.1
sentence-transformers==2.2.2
python-dotenv==1.0.0
langchain-groq==0.1.0
tiktoken==0.5.0
pyttsx3==2.90
